.button-explainer {
  font-size: 1em;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.hr {
  height: 0px;
  margin: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1px;
}