$primary: #2572B4; // changed
$gray-light: #6f6f6f; // Light grey colour (Bootstrap override).
$border-red: #af3c43;
//Breadcrumb
$breadcrumb-bg: transparent; // Inner background colour (Bootstrap override).
$font-family-base: "Noto Sans", sans-serif; // (Bootstrap override), "Noto Sans" is a Google font but it is not loaded yet