body {
    padding-top: 0px;
}

.footer ul {
    list-style: none;
    padding-left: 15px;
}

.footer ul li {
    display: inline-block;
    margin-right: 15px;
}

.button-blue-dark {
    color: #fff;
    background-color: #137991;
    display: block;
    margin-bottom: 10px;
    float: left; 
    clear: left;

}

.button-blue-medium {
    color: #000;
    background-color: #15A3A6;
    display: block;
    margin-bottom: 10px;
    float: left; 
    clear: left;
}

.button-blue-light {
    color: #000;
    background-color: #6DD2DA;
    display: block;
    margin-bottom: 10px;
    float: left;
    clear: left;
}

.btn:hover {
    background-color: #002D42 !important;
    color: #fff !important;
}

.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

.card {
    margin: 8px;
    margin-right: 0px;
    margin-left: 0px;
}
.sidebar {
    margin: 8px;
    margin-right: 16px;
    order: 2;
    flex-grow: 1;
}

.card-body > * > p {
    margin-left: 8px; 
}

.card-body > * > h5 {
    margin-left: 8px;
}

.main-content {
    margin-left: 40px;
    margin-right: 20px;
    order: 1;
    flex-grow: 2;
}
.info-page-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.info-card{
    background-color: #FCF8E3;
     border: 1px solid #FAF2CC;
     margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .info-page-content{
        display: inline;
    }
    .sidebar {
        margin-left: 40px;
    }
    .main-content {
        margin-left: 40px;
    }
}

